# 多层索引
## 创建多层索引  MultiIndex

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame, MultiIndex

- 以数组的方式创建多级行索引

MultiIndex.from_arrays([[一级索引], [二级索引]])

注意：一级索引的数量和二级索引的数量保持一致

In [2]:
index = MultiIndex.from_arrays([['张大妈', '张大妈', '张大妈', '李大爷','李大爷'],
                                ['周一', '周二', '周三', '周一', '周四']])

- 以元组方式创建多级索引

MultiIndex.from_tuples([(一级,二级), (), ])

In [11]:
index2 = MultiIndex.from_tuples([('张大妈', '周一'),
                                ('张大妈', '周二'),
                                ('张大妈', '周三'),
                                ('李大爷', '周一'),
                                ('李大爷', '周三')])

- product方式创建多级索引 【建议】

MultiIndex.from_product([[一级索引], [二级索引]])

生成行数 = [一级索引]的大小 * [二级索引]的大小

每一个"一级索引"，都有相同的"二级索引"

In [15]:
index3 = MultiIndex.from_product([['张大妈', '李大爷'],
                                  ['周一', '周二', '周三']])

In [16]:
df = DataFrame(np.random.randint(1,5, size=(6, 2)), 
               index=index3, columns=('白菜', '萝卜'))
df

        白菜  萝卜
张大妈 周一   3   3
    周二   2   2
    周三   1   3
李大爷 周一   4   2
    周二   4   2
    周三   1   2

练习： 手机销售表

2017和2018两年的各季度的不同地区的不同手机销售情况

手机品牌：(Vivo, 华为, Iphone, Oppo)

地区： 西安，北京

In [39]:
index = MultiIndex.from_product([['西安', '北京'],
                               ['Vivo', '华为', 'Iphone', 'Oppo']])
columns = MultiIndex.from_product([['2017', '2018'],
                                   [1, 2, 3, 4]])
data = np.random.randint(100, 2000, size=(8, 8))

df = DataFrame(data ,index, columns)
df

           2017                    2018
              1     2     3     4     1     2     3     4
西安 Vivo     197  1447  1736  1859   708   367   379  1080
   华为       898  1021  1668   196  1256  1674   837   986
   Iphone  1552   228   448   239  1232   794   584   936
   Oppo     991   722  1599  1062   649  1887   436  1527
北京 Vivo    1806  1939  1787  1135   258   701  1531  1325
   华为      1880   124  1007   311  1949  1157  1863   915
   Iphone   489   115  1022   511   275   851  1165   111
   Oppo    1036   698   167  1961   902   505  1017   341

# 多层索引操作
- df[(一级列， 二级列)]
- .loc[[行]， [列]]
- .iloc[[行号], [列号]]

注： 不能直接对二级索引进行操作，可以使用 (一级索引， 二级索引) 方式

In [40]:
# 查看2017年全年的华为手机的各地的销量
df.loc[[('西安', '华为'), ('北京', '华为')]]['2017']

          1     2     3    4
西安 华为   898  1021  1668  196
北京 华为  1880   124  1007  311

In [36]:
df.iloc[[1, 5]]['2017']  # 直接使用索引值

          1     2    3     4
西安 华为   653   832  500   713
北京 华为  1230  1284  429  1946

In [52]:
df.loc[['北京'], ['2017']]  # 查看北京地区的2017的销售情况

           2017
              1     2     3     4
北京 Vivo    1806  1939  1787  1135
   华为      1880   124  1007   311
   Iphone   489   115  1022   511
   Oppo    1036   698   167  1961

In [56]:
# df.loc[:, [('2018', 3),('2018', 4)]]
df.loc[:,'2018'][[1, 2]] #  查看2018年第1和2季度的情况

              1     2
西安 Vivo     708   367
   华为      1256  1674
   Iphone  1232   794
   Oppo     649  1887
北京 Vivo     258   701
   华为      1949  1157
   Iphone   275   851
   Oppo     902   505