# K-近邻算法（KNN）

## 作业

#### 1、预测年收入是否大于50K美元

读取adult.txt文件，最后一列是年收入，并使用KNN算法训练模型，然后使用模型预测一个人的年收入是否大于50

获取年龄、教育程度、职位、每周工作时间作为机器学习数据  
获取薪水作为对应结果

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
data = pd.read_csv('data/adults.txt')

In [4]:
data.head(5)

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
data[data['salary'] == '>50K']

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
45,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
52,47,Private,51835,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,60,Honduras,>50K
53,50,Federal-gov,251585,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,>50K
55,43,Private,237993,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
63,42,Private,116632,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
67,53,Private,169846,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,>50K
68,49,Self-emp-inc,191681,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
72,29,Self-emp-not-inc,162298,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,70,United-States,>50K
84,44,Private,343591,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,14344,0,40,United-States,>50K
86,49,Local-gov,268234,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
89,43,Federal-gov,410867,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,>50K
94,34,Local-gov,226296,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
96,48,Self-emp-not-inc,191277,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K
97,37,Private,202683,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,>50K
100,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
101,44,Private,198282,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K
105,32,Self-emp-inc,317660,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7688,0,40,United-States,>50K
111,38,Private,65324,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
112,56,Self-emp-not-inc,335605,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,1887,50,Canada,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32436,37,Private,40955,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
32438,66,Self-emp-not-inc,102686,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,20,United-States,>50K
32440,30,Self-emp-not-inc,176185,Some-college,10,Married-spouse-absent,Craft-repair,Own-child,White,Male,0,0,60,United-States,>50K
32441,53,Private,304504,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,1887,45,United-States,>50K
32449,44,Self-emp-inc,71556,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,?,>50K
32453,46,Private,42251,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,>50K
32455,36,Self-emp-not-inc,109133,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K
32457,33,Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,50,United-States,>50K
32458,36,Private,237943,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1977,45,United-States,>50K
32462,48,Self-emp-inc,185041,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,50,United-States,>50K
32464,45,Self-emp-inc,173664,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
32466,37,Private,121521,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,45,United-States,>50K
32474,36,Private,186819,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,52,United-States,>50K
32480,41,Private,201495,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32504,50,Private,208630,Masters,14,Divorced,Sales,Not-in-family,White,Female,0,0,50,United-States,>50K
32506,38,Private,32916,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,55,United-States,>50K
32510,39,Private,107302,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,?,>50K
32513,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K
32518,57,Local-gov,110417,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,40,United-States,>50K
32519,46,Private,364548,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,>50K
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [9]:
train = data[['age','education','occupation','hours_per_week']].copy()
target = data['salary']

数据转换，将String类型数据转换为int

In [10]:
train['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [12]:
edu_unique = train['education'].unique()
def trans_edu(x):
    return np.argwhere(edu_unique == x)[0,0]

In [16]:
# 从ndarray中获取某一值在ndarray的索引位置
np.argwhere(edu_unique == '12th')

array([[15]])

In [17]:
train['education'] = train['education'].map(trans_edu)

In [18]:
# 岗位字符串的数值化
occ_unique = train['occupation'].unique()
def trans_occ(x):
    return np.argwhere(occ_unique == x)[0,0]

In [19]:
train['occupation'] = train['occupation'].map(trans_occ)

【知识点】map方法，进行数据转换

In [20]:
train.shape  # 样本数据

(32561, 4)

切片：训练数据和预测数据

In [21]:
# 处理训练集和测试集的拆分（随机）
from sklearn.model_selection import train_test_split

# train四个特征的样本集
# tagert 与特征样本集对应的目标数据集
# test_size 表示 测试数据集的占比
# random_state 表示随机种子
# 返回 四个数据集: 前两个是X的训练和测试集， 
#               后两个是目标y的训练和测试的目标集
X_train, X_test, y_train, y_test = train_test_split(train,target,
                                                    test_size=0.2,
                                                    random_state=1)

生成算法

In [50]:
X_train.shape

(26048, 4)

In [51]:
X_test.shape

(6513, 4)

第一步：训练数据

In [27]:
from sklearn.neighbors import KNeighborsClassifier

knnclf = KNeighborsClassifier(n_neighbors=25)

knnclf.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=25, p=2,
           weights='uniform')

第二步：预测数据

In [34]:
edu_list = edu_unique.copy()
occ_list = occ_unique.copy()

for occ_index, occ_title in enumerate(occ_list):
    dancer = [[35,9,occ_index,40]]
    print(f'age=35, education=Doctorate,occ={occ_title},hpw=40',
          knnclf.predict(dancer))

age=35, education=Doctorate,occ=Adm-clerical,hpw=40 ['<=50K']
age=35, education=Doctorate,occ=Exec-managerial,hpw=40 ['<=50K']
age=35, education=Doctorate,occ=Handlers-cleaners,hpw=40 ['<=50K']
age=35, education=Doctorate,occ=Prof-specialty,hpw=40 ['>50K']
age=35, education=Doctorate,occ=Other-service,hpw=40 ['>50K']
age=35, education=Doctorate,occ=Sales,hpw=40 ['<=50K']
age=35, education=Doctorate,occ=Craft-repair,hpw=40 ['<=50K']
age=35, education=Doctorate,occ=Transport-moving,hpw=40 ['<=50K']
age=35, education=Doctorate,occ=Farming-fishing,hpw=40 ['<=50K']
age=35, education=Doctorate,occ=Machine-op-inspct,hpw=40 ['<=50K']
age=35, education=Doctorate,occ=Tech-support,hpw=40 ['<=50K']
age=35, education=Doctorate,occ=?,hpw=40 ['<=50K']
age=35, education=Doctorate,occ=Protective-serv,hpw=40 ['<=50K']
age=35, education=Doctorate,occ=Armed-Forces,hpw=40 ['<=50K']
age=35, education=Doctorate,occ=Priv-house-serv,hpw=40 ['<=50K']

In [69]:
data['occupation'].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

#### 2、小麦种类预测

读取seeds.tsv文件，最后一列是小麦品种，其他列是小麦特征

In [36]:
seeds = pd.read_csv('data/seeds.tsv',sep='\t',header=None)
seeds

         0      1       2      3      4       5      6         7
0    15.26  14.84  0.8710  5.763  3.312  2.2210  5.220      Kama
1    14.88  14.57  0.8811  5.554  3.333  1.0180  4.956      Kama
2    14.29  14.09  0.9050  5.291  3.337  2.6990  4.825      Kama
3    13.84  13.94  0.8955  5.324  3.379  2.2590  4.805      Kama
4    16.14  14.99  0.9034  5.658  3.562  1.3550  5.175      Kama
5    14.38  14.21  0.8951  5.386  3.312  2.4620  4.956      Kama
6    14.69  14.49  0.8799  5.563  3.259  3.5860  5.219      Kama
7    14.11  14.10  0.8911  5.420  3.302  2.7000  5.000      Kama
8    16.63  15.46  0.8747  6.053  3.465  2.0400  5.877      Kama
9    16.44  15.25  0.8880  5.884  3.505  1.9690  5.533      Kama
10   15.26  14.85  0.8696  5.714  3.242  4.5430  5.314      Kama
11   14.03  14.16  0.8796  5.438  3.201  1.7170  5.001      Kama
12   13.89  14.02  0.8880  5.439  3.199  3.9860  4.738      Kama
13   13.78  14.06  0.8759  5.479  3.156  3.1360  4.872      Kama
14   13.74  14.05  0.8744  5.482  3.114  2.9320  4.825      Kama
15   14.59  14.28  0.8993  5.351  3.333  4.1850  4.781      Kama
16   13.99  13.83  0.9183  5.119  3.383  5.2340  4.781      Kama
17   15.69  14.75  0.9058  5.527  3.514  1.5990  5.046      Kama
18   14.70  14.21  0.9153  5.205  3.466  1.7670  4.649      Kama
19   12.72  13.57  0.8686  5.226  3.049  4.1020  4.914      Kama
20   14.16  14.40  0.8584  5.658  3.129  3.0720  5.176      Kama
21   14.11  14.26  0.8722  5.520  3.168  2.6880  5.219      Kama
22   15.88  14.90  0.8988  5.618  3.507  0.7651  5.091      Kama
23   12.08  13.23  0.8664  5.099  2.936  1.4150  4.961      Kama
24   15.01  14.76  0.8657  5.789  3.245  1.7910  5.001      Kama
25   16.19  15.16  0.8849  5.833  3.421  0.9030  5.307      Kama
26   13.02  13.76  0.8641  5.395  3.026  3.3730  4.825      Kama
27   12.74  13.67  0.8564  5.395  2.956  2.5040  4.869      Kama
28   14.11  14.18  0.8820  5.541  3.221  2.7540  5.038      Kama
29   13.45  14.02  0.8604  5.516  3.065  3.5310  5.097      Kama
..     ...    ...     ...    ...    ...     ...    ...       ...
180  11.41  12.95  0.8560  5.090  2.775  4.9570  4.825  Canadian
181  12.46  13.41  0.8706  5.236  3.017  4.9870  5.147  Canadian
182  12.19  13.36  0.8579  5.240  2.909  4.8570  5.158  Canadian
183  11.65  13.07  0.8575  5.108  2.850  5.2090  5.135  Canadian
184  12.89  13.77  0.8541  5.495  3.026  6.1850  5.316  Canadian
185  11.56  13.31  0.8198  5.363  2.683  4.0620  5.182  Canadian
186  11.81  13.45  0.8198  5.413  2.716  4.8980  5.352  Canadian
187  10.91  12.80  0.8372  5.088  2.675  4.1790  4.956  Canadian
188  11.23  12.82  0.8594  5.089  2.821  7.5240  4.957  Canadian
189  10.59  12.41  0.8648  4.899  2.787  4.9750  4.794  Canadian
190  10.93  12.80  0.8390  5.046  2.717  5.3980  5.045  Canadian
191  11.27  12.86  0.8563  5.091  2.804  3.9850  5.001  Canadian
192  11.87  13.02  0.8795  5.132  2.953  3.5970  5.132  Canadian
193  10.82  12.83  0.8256  5.180  2.630  4.8530  5.089  Canadian
194  12.11  13.27  0.8639  5.236  2.975  4.1320  5.012  Canadian
195  12.80  13.47  0.8860  5.160  3.126  4.8730  4.914  Canadian
196  12.79  13.53  0.8786  5.224  3.054  5.4830  4.958  Canadian
197  13.37  13.78  0.8849  5.320  3.128  4.6700  5.091  Canadian
198  12.62  13.67  0.8481  5.410  2.911  3.3060  5.231  Canadian
199  12.76  13.38  0.8964  5.073  3.155  2.8280  4.830  Canadian
200  12.38  13.44  0.8609  5.219  2.989  5.4720  5.045  Canadian
201  12.67  13.32  0.8977  4.984  3.135  2.3000  4.745  Canadian
202  11.18  12.72  0.8680  5.009  2.810  4.0510  4.828  Canadian
203  12.70  13.41  0.8874  5.183  3.091  8.4560  5.000  Canadian
204  12.37  13.47  0.8567  5.204  2.960  3.9190  5.001  Canadian
205  12.19  13.20  0.8783  5.137  2.981  3.6310  4.870  Canadian
206  11.23  12.88  0.8511  5.140  2.795  4.3250  5.003  Canadian
207  13.20  13.66  0.8883  5.236  3.232  8.3150  5.056  Canadian
208  11.84  13.21  0.8521  5.175  2.836  3.5980  5.044  Canadian
209  12.30  13.34  0.8684  5.243  2.974  5.6370  5.063  Canadian

[210 rows x 8 columns]

In [38]:
seeds.iloc[:,-1].unique()

array(['Kama', 'Rosa', 'Canadian'], dtype=object)

In [73]:
target = seeds.iloc[:,-1]
train = seeds.iloc[:,:-1]

In [76]:
X_train,X_test,y_train,y_test = train_test_split(train,target,test_size=0.2,random_state=0)

In [89]:
knnclf = KNeighborsClassifier(n_neighbors=7)
knnclf.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=7, p=2,
           weights='uniform')

In [90]:
knnclf.score(X_test,y_test)

0.8809523809523809

In [93]:
x = [[8.26,1.84,0.8710,5.763,3.312,3.2210,6.220]]
knnclf.predict(x)

array(['Canadian'], dtype=object)

#### 3、改进约会网站的匹配效果

读取datingTestSet.txt文件，最后一列是喜欢程度。模型：根据前几列的信息，预测喜欢程度

In [97]:
dating = pd.read_csv('data/datingTestSet.txt',sep='\t',header=None)
# pd.read_csv('../data/datingTestSet2.txt',sep='\t',header=None)

In [98]:
train = dating.iloc[:,:-1]
target = dating.iloc[:,-1]

In [122]:
train

         0          1         2
0    40920   8.326976  0.953952
1    14488   7.153469  1.673904
2    26052   1.441871  0.805124
3    75136  13.147394  0.428964
4    38344   1.669788  0.134296
5    72993  10.141740  1.032955
6    35948   6.830792  1.213192
7    42666  13.276369  0.543880
8    67497   8.631577  0.749278
9    35483  12.273169  1.508053
10   50242   3.723498  0.831917
11   63275   8.385879  1.669485
12    5569   4.875435  0.728658
13   51052   4.680098  0.625224
14   77372  15.299570  0.331351
15   43673   1.889461  0.191283
16   61364   7.516754  1.269164
17   69673  14.239195  0.261333
18   15669   0.000000  1.250185
19   28488  10.528555  1.304844
20    6487   3.540265  0.822483
21   37708   2.991551  0.833920
22   22620   5.297865  0.638306
23   28782   6.593803  0.187108
24   19739   2.816760  1.686209
25   36788  12.458258  0.649617
26    5741   0.000000  1.656418
27   28567   9.968648  0.731232
28    6808   1.364838  0.640103
29   41611   0.230453  1.151996
..     ...        ...       ...
970  53711  12.149747  1.389088
971  64371   9.149678  0.874905
972   9289   9.666576  1.370330
973  60613   3.620110  0.287767
974  18338   5.238800  1.253646
975  22845  14.715782  1.503758
976  74676  14.445740  1.211160
977  34143  13.609528  0.364240
978  14153   3.141585  0.424280
979   9327   0.000000  0.120947
980  18991   0.454750  1.033280
981   9193   0.510310  0.016395
982   2285   3.864171  0.616349
983   9493   6.724021  0.563044
984   2371   4.289375  0.012563
985  13963   0.000000  1.437030
986   2299   3.733617  0.698269
987   5262   2.002589  1.380184
988   4659   2.502627  0.184223
989  17582   6.382129  0.876581
990  27750   8.546741  0.128706
991   9868   2.694977  0.432818
992  18333   3.951256  0.333300
993   3780   9.856183  0.329181
994  18190   2.068962  0.429927
995  11145   3.410627  0.631838
996  68846   9.974715  0.669787
997  26575  10.650102  0.866627
998  48111   9.134528  0.728045
999  43757   7.882601  1.332446

[1000 rows x 3 columns]

In [117]:
X_train,X_test,y_train,y_test = train_test_split(train,target,random_state=3)

In [121]:
knnclf = KNeighborsClassifier(n_neighbors=9)
knnclf.fit(X_train,y_train)
knnclf.score(X_test,y_test)

0.808

In [131]:
# 验证数量级对训练结果的影响，第一列的量级特别大，所以KNN算法的可能预测结果主要有第一列数据影响

train1 = train[0].values.reshape(-1,1)

X_train1,X_test1,y_train1,y_test1 = train_test_split(train1,target,random_state=3)

In [132]:
knnclf1 = KNeighborsClassifier(n_neighbors=9)
knnclf1.fit(X_train1,y_train1)
knnclf1.score(X_test1,y_test1)

0.808

In [142]:
from sklearn.preprocessing import Normalizer

train0 = Normalizer().fit_transform(train[0].values.reshape(-1,1))

In [149]:
# 归一化处理
train_norml = train/train.sum()

In [151]:
X_train,X_test,y_train,y_test = train_test_split(train_norml,target,test_size=0.2,random_state=3)

In [156]:
knnclf = KNeighborsClassifier(n_neighbors=9)
knnclf.fit(X_train,y_train).score(X_test,y_test)

0.935

In [157]:
train1 = train_norml[0].values.reshape(-1,1)
X_train1,X_test1,y_train1,y_test1 = train_test_split(train1,target,test_size=0.2,random_state=3)

In [158]:
knnclf1 = KNeighborsClassifier(n_neighbors=9)
knnclf1.fit(X_train1,y_train1).score(X_test1,y_test1)

0.8